/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
.button {
	display: flex;
	justify-content: center;
	padding: 8px 45px 8px 45px;
	border-radius: 25px;
	border: none;
	background-color: #1D6154;
	color: white;
	font-size: 13px;
	font-family: 'Syne';
	align-items: center;
}


body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

/********** HEADER EDIT MODE **********/

.edit__header {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: 100%;
	height: 55px;
	z-index: 11;
	top: 0;
	left: 0;
	right: 0;

}

.edit__header__update__logo {
	color: white;
	font-size: 20px;
}

.edit__header__update__text {
	color: white;
	font-size: 15px;
	margin: 0 10px 0 10px;
}

.edit__header__update__button {
	border: none;
	background-color: white;
	color: black;
	border-radius: 25px;
	padding: 10px 25px 10px 25px;
	font-weight: 700;
}

/********** MODAL **********/

.modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.modal__close__logo {
	margin-top: 20px;
	position: relative;
	font-size: 17px;
	left: 43%;
}

.modal__close__txt {
	font-size: 0px;
}

.modal__title {
	font-size: 25px;
	margin: 10px 0 30px 0;
}

/***** DELETE MODAL *****/

.modal__content__delete {
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 50vh;
	width: 30%;
	height: 75vh;
}

.modal__selector {
	width: 70%;
	height: 40vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	justify-content: flex-start;
}

.modal__item__container {
	width: 18%;
	height: 30%;
	position: relative;
	margin: 0 2px 0 4px;
	top: 2px;
}

.move__logo__container {
	position: absolute;
	right: 23px;
	top: 5px;
}

.move__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: 15px;
	height: 15px;
	color: white;
	font-size: 10px;
	font-weight: 900;
}

.trash__logo__container {
	position: absolute;
	right: 5px;
	top: 5px;
}

.trash__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: 15px;
	height: 15px;
	color: white;
	font-size: 10px;
	font-weight: 900;
}

.trash__logo--selected {
	background-color: red;
}

.modal__item {
	width: 100%;
	height: 90%;
}

.modal__item__txt {
	background-color: white;
	font-size: 11px;
	height: 15px;
}

.modal__line {
	border-bottom: #B3B3B3 1px solid;
	width: 70%;
	margin-top: 30px;
}

.modal__add__btn {
	margin-top: 35px;
}

.modal__delete__btn {
	margin-top: 25px;
	border: none;
	background-color: white;
	color: #D65353;
	font-family: 'Syne';
	font-size: 12px;
	font-weight: 100;
}

/***** END DELETE MODAL *****/

/***** ADD MODAL *****/

.modal__content__add {
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 50vh;
	width: 30%;
	height: 70vh;
}

.modal__arrow__logo {
	margin-top: 25px;
	position: relative;
	font-size: 17px;
	right: 43%;
}

.modal__add__close__logo {
	margin-top: -15px;
	position: relative;
	font-size: 17px;
	left: 43%;
}

.modal__form {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 55vh;

}

.modal__img__container {
	border-radius: 4px;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 160px;
}

.modal__img__logo {
	font-size: 40px;
	margin-top: 25px;
}

.modal__img__add__label {
	margin-top: 15px;

	padding: 10px 25px 10px 25px;
	font-size: 12px;
	background-color: #CBD6DC;
	color: #306685;
}

#file__upload {
	display: none;
}

.modal__img__txt {
	margin-top: 10px;
	font-size: 9px;
}

.img__hidden {
	display: none;
}

#img__upload {
	object-fit: fill;
	width: 160px;
	height: 160px;
	position: absolute;

}

.modal__title__work {
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 13px;
	position: relative;
	right: 45%;
}

#modal__title__input {
	border: none;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
	width: 99%;
	height: 45px;
}

.modal__category__work {
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 13px;
	position: relative;
	right: 40%;
}

#modal__category__select {
	border: none;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
	width: 100%;
	height: 45px;
}

.modal__line__add {
	border-bottom: #B3B3B3 1px solid;
	width: 100%;
	margin-top: 40px;
}

.modal__upload__btn {
	margin-top: 30px;
	width: 50%;
	background-color: #A7A7A7;
}

.green {
	background-color: #1D6154;
}

/***** END ADD MODAL *****/

/***** END MODAL *****/

header {
	display: flex;
	justify-content: space-between;
	margin: 60px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	text-decoration: none;
	color: black;
}

li:hover {
	color: #B1663C;
}

li:hover a {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/***** UPDATE BUTTONS FOR ADMIN *****/

.update__logo {
	color: black;
	font-weight: 100;
}

.first__update__logo {
	position: relative;
	left: 10%;
}

.first__update__logo+.update__button {
	position: relative;
	left: 10%;
}

.second__update__logo {
	position: relative;
	top: -70px;
	margin-bottom: 50px;
}

article>h2 {
	margin-top: -100px;

}

.third__update__logo {
	margin-left: 30px;
	font-size: 17px;
}

.update__button {
	letter-spacing: .05rem;
	cursor: pointer;
	border: none;
	background-color: white;
	padding: 15px 15px 15px 8px;
}

/***** END UPDATE BUTTONS FOR ADMIN *****/

.filter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 45px;
}

.filter__btn {
	font-family: 'Syne';
	background-color: white;
	padding: 7px 15px 7px 15px;
	border-radius: 25px;
	margin-right: 5px;
	color: #1D6154;
	border: #1D6154 1px solid;
}

.filter__btn--selected {
	background-color: #1D6154;
	color: white;
}

/**************************************/


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

/***** LOG IN PAGE *****/
.login {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 120px;
}

.login #login__title {
	font-size: 30px;
	color: #1D6154;
	font-weight: 700;
	width: 100px;
	height: 15px;
	margin-bottom: 25px;
}

.login label {
	display: flex;
	margin-top: 30px;
}

.login input {
	width: 379px;
	height: 45px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.24)0px 3px 8px;
}

.login .login__btn {
	margin-top: 35px;
	margin-bottom: 25px;
	margin-left: 25%;
	padding: 10px 40px 10px 40px;
}

.login .forgot__password {
	color: black;
	font-family: 'work', sans-serif;
	font-size: 14px;
}

/***** END LOG IN PAGE *****/
.footer__login {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

.footer__login nav ul li {
	margin-right: 10%;
}